@import "variables"
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&family=Roboto&display=swap')

// *
//   box-sizing: border-box

html, body
  margin: 0
  padding: 0
  font-family: 'Open Sans', sans-serif
  font-size: 16px
  @media (prefers-color-scheme: dark)
    background-color: $color1
    color: $color5
  @media (prefers-color-scheme: light)
    background-color: $color5
    color: #333


.button
  background: none
  border: 1px solid $color2
  color: $color2
  cursor: pointer
  transition: 300ms
  &:hover, &.active
    background: $color2
    color: $color5

.App
  height: 100vh
  width: 100vw
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  background-image: url("../image/background.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  background-position: 100% 100%
  header
    position: absolute
    top: 5px
    right: 15%
    .menu
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      width: 100%
      padding: 0 20px
      list-style: none
      .menu__item
        margin: 0 35px
        a
          color: $color1!important
          text-decoration: none
          font-weight: 500
          font-size: 16px
          line-height: 20px
          cursor: pointer
          transition: 300ms
          @media (prefers-color-scheme: dark)
            color: $color5!important
          @media (prefers-color-scheme: light)
            color: $color1!important
          &:hover, &.active
            color: #FC6011!important
            text-decoration: none
  .container
    max-width: 1440px
    width: 80%
    margin: 0 auto
    .button__block
      display: flex
      flex-direction: row
      justify-content: space-around
      align-items: center
      width: 100%
      margin: 0 auto
      padding: 0 20px
    .button__block_category
      width: 210px
      height: 75px
      border-radius: 122px
    .button__block__date
      border: none
      font-weight: 700
      margin: 7px 30px
      padding: 0
      cursor: pointer
      transition: 300ms
      @media (prefers-color-scheme: dark)
        color: $color5
        &.active_day
            border-bottom: 2px solid $color5
      @media (prefers-color-scheme: light)
        color: $color1
        &.active_day
            border-bottom: 2px solid $color1
      &:hover, &.active
        background: $color2!important
        border-radius: 122px
        margin: 0
        padding: 7px 30px
        @media (prefers-color-scheme: dark)
          color: $color1
        @media (prefers-color-scheme: light)
          color: $color5

    .card__block
      width: 80%
      margin: 20px auto 20px
      display: flex
      flex-direction: row
      flex-wrap: wrap
      align-content: space-around
      justify-content: space-between
      .card
        width: 287px
        height: 170px
        border-radius: 16px
        margin: 5px
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        align-content: center
        justify-content: center
        align-items: center
        @media (prefers-color-scheme: dark)
          border: 1px solid $color5-25
        @media (prefers-color-scheme: light)
          border: 1px solid $color1-25
        &.add
          flex-direction: column
          @media (prefers-color-scheme: dark)
            border: 1px dashed $color5-25
          @media (prefers-color-scheme: light)
            border: 1px dashed $color1-25
          button
            background: none
            border: none
        img
          width: 112px
          height: 150px
          margin: auto auto auto 10px
          border: 2px solid rgba(253, 144, 88, 0.5)
          border-radius: 8px
        .card__info
          height: calc(100% - 20px)
          padding: 10px
          display: flex
          flex-direction: column
          flex-wrap: nowrap
          justify-content: space-between
          align-items: flex-start
          h5
            margin: 0
          h4
            text-align: left
            margin: 0
            padding: 0
          h6
            margin: 0
          .button__group
            display: flex
            flex-direction: row
            .button
              border-radius: 4px
              margin-right: 10px
              padding: 0 12.5px
              &.remove
                background: $color2
                cursor: pointer
                padding: 2px 7px
                transition: 300ms
                display: flex
                &:hover, &.active
                  background: $color2
                svg
                  margin: auto 0
    .end__block
      .button
        width: 240px
        height: 47px
        border-radius: 20px
        position: relative
        svg
          position: absolute
          top: calc(50% - 12px)
          left: 28px
  .wiget__add__product, .order
    width: 100%
    height: 100%
    overflow: hidden
    margin: 0
    padding: 0
    position: fixed
    backdrop-filter: blur(20px)
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-content: center
    align-items: center
    justify-content: center
    @media (prefers-color-scheme: dark)
      background: $backgroundModalDark
    @media (prefers-color-scheme: light)
      background: $backgroundModalLight
    .wiget__add__product__content
      border-radius: 20px
      width: 930px
      height: 462px
      @media (prefers-color-scheme: dark)
        background: $color1
      @media (prefers-color-scheme: light)
        background: $color5
      .wiget__add__product__header
        display: flex
        width: 90%
        margin: auto
        margin-top: 2%
        margin-left: 8%
        justify-content: space-between
        align-items: center
        align-content: center
        flex-direction: row
        .button
          border: none
          background: none
          cursor: pointer
      .wiget__add__product__body
        height: calc(100% - 120px)
        padding: 15px 100px
        position: relative
        .react-multi-carousel-list
          height: 100%
          position: initial
          .react-multiple-carousel__arrow
            width: 66px
            height: 66px
            border-radius: 50%
            background: none
            cursor: pointer
            transition: 300ms
            @media (prefers-color-scheme: dark)
              border: 1px solid $color5
              &:before
                color: $color5
            @media (prefers-color-scheme: light)
              border: 1px solid $color1
              &:before
                color: $color1
            &:hover
              transition: 300ms
              border: 1px solid $color2
              &:before
                color: $color2
            &.react-multiple-carousel__arrow--left
              left: calc(2% + 1px)
            &.react-multiple-carousel__arrow--right
              right: calc(2% + 1px)
          .react-multi-carousel-dot
            button
              background: transparent
            &.react-multi-carousel-dot--active
              button
                background: $color2
          .react-multi-carousel-item
          .wiget__add__product__body__item
            padding: 16px
            width: calc(95% - 32px)
            margin: 0 2.5%
            border-radius: 16px
            @media (prefers-color-scheme: dark)
              border: 1px solid $color5-25
            @media (prefers-color-scheme: light)
              border: 1px solid $color1-25
            .wiget__add__product__body__item__img
              img
                width: 198px
                height: 122px
                border-radius: 8px
            .wiget__add__product__body__item__info
              text-align: left
              h4
                margin: 0
                padding: 0
            .wiget__add__product__body__item__price
              display: flex
              justify-content: space-between
              .button
                height: 35px
                border-radius: 8px
    .order__body
      min-width: 1080px
      display: flex
      justify-content: space-between
      align-items: flex-start
      .order__body__cart
        width: 65%
        gap: 10px
        border-radius: 20px
        padding: 25px
        @media (prefers-color-scheme: dark)
          background: $color1-25
        @media (prefers-color-scheme: light)
          background: $light-grey
        .order__body__cart__header
          display: flex
          justify-content: space-between
          align-items: center
          align-content: center
          flex-direction: row
          .button
            border: none
            background: none
            cursor: pointer
            margin-right: -15px
        .order__body__cart__body
          overflow-y: auto
          max-height: calc(100% - 60px)
          .order__body__cart__body__item
            border-radius: 20px
            margin-bottom: 25px
            @media (prefers-color-scheme: dark)
              background: $color1
            @media (prefers-color-scheme: light)
              background: $color5
            .order__body__cart__body__item__header
              height: 55px
              text-align: left
              padding: 0 25px
              border-radius: 20px 20px 0 0
              display: flex
              justify-content: space-between
              .paid-header
                padding: 20px 0
                span
                  font-weight: bold
              @media (prefers-color-scheme: dark)
                background: $color5-05
              @media (prefers-color-scheme: light)
                background: $dark-grey
            .order__body__cart__body__item__body
              padding: 9px 0
              border-bottom: 1px solid #e3e2e5
              &:last-child
                border-bottom: none
            .order__body__cart__body__item__body__item
              display: flex
              flex-direction: row
              flex-wrap: nowrap
              align-items: flex-start
              gap: 10px
              .order__body__cart__body__item__body__item__img
                img
                  width: 155px
                  height: 75px
                  border-radius: 8px 0 0 8px
              .order__body__cart__body__item__body__item__info
                display: flex
                flex-direction: column
                align-items: flex-start
                gap: 10px
              h4
                margin: 0
              p
                text-align: left
                margin: 0
              span
                color: #b2b1b4
              .order__body__cart__body__item__body__item__price
                position: relative
                display: flex
                flex-direction: column
                align-items: flex-end
                height: 100%
                margin-top: auto;
                margin-left: auto;
                .item-days
                  margin-bottom: auto
                  position: absolute
                  top: -30px
                .order__body__cart__body__item__body__item__price__count
                  display: flex
                  margin-top: 15px 
                  input
                    border-radius: 10px 0 0 10px
                    background: #ffbe9d
                    border: none
                    width: 40px
                    padding-left: 10px
                    margin-right: -15px
                    color: $white
                    &:focus
                      outline: none
                    &::-webkit-outer-spin-button
                    &::-webkit-inner-spin-button
                      -webkit-appearance: none
                      margin: 0
                  div
                    display: flex
                    width: 80px
                    height: 20px
                    position: relative
                    span
                      display: block
                      border: 0.5px solid #fff
                      height: 60%
                      top: 50%
                      left: 50%
                      position: absolute
                      transform: translate(-50%, -50%)
                    button
                      border: none
                      background: $orange
                      color: $white
                      width: 50%
                      cursor: pointer
                      padding: 0
                      font-weight: 600
                      font-family: 'Martel', serif;
                      &:first-child
                        border-radius: 10px 0 0 10px
                      &:last-child
                        border-radius: 0 10px 10px 0

      .order__body__info
        width: 28%
        gap: 15px
        display: flex
        flex-direction: column
        justify-content: space-between
        flex-wrap: nowrap
        .order__body__info__data-delivery,
        .order__body__info__data-days,
        .order__body__info__data-user
          border-radius: 20px
          @media (prefers-color-scheme: dark)
            background: $color1
          @media (prefers-color-scheme: light)
            background: $color5
        .order__body__info__data-delivery
        .order__body__info__data-days
            height: 100px
        .order__body__info__data-user
        .order__body__info__data-delivery
          display: flex
          flex-direction: column
          align-items: center
          padding: 20px
          div
            padding-bottom: 20px
            border-bottom: 2px solid #d3d3d8
            width: 100%
            &:last-child
              border-bottom: 0
            button
              background: $orange
              border-radius: 8px
              border: none
              cursor: pointer
              color: $white
              padding: 10px
              width: 100%
              font-size: 17px
          .delivery-section
            border: 1px solid $orange
            border-radius: 8px
            margin: 20px 0
            padding: 10px 0
            width: 100%
            cursor: pointer
            div
              display: flex
              justify-content: center
              align-items: center
              gap: 5px
              padding: 0
              span
                color: $orange
          .cart-section
            padding-bottom: 0
            div
              display: flex
              justify-content: space-between
              border-bottom: none
              font-size: 16px
              padding-bottom: 15px
              span
                font-size: 14px
            .cart-header
              span
                color: #d3d3d8
                font-size: 14px
                &:first-child
                  font-weight: bold
                  color: #000
                  font-size: 16px
            .products
              span
                &:last-child
                  font-weight: bold
            .discount
              span
                &:last-child
                  font-weight: bold
                  color: $orange
          .total
            display: flex
            justify-content: space-between
            padding-top: 20px
            padding-bottom: 0
            font-weight: bold
        .order__body__info__data-days
          position: relative
          padding: 0 20px
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          gap: 10px
          h4
            margin: 0
          .right-arrow
            position: absolute
            right: 21px
            top: 17px
            border-radius: 50%
            border: 1px solid #ff8949
            color: #ff8949
            width: 17px
            height: 17px
            font-weight: bold
            font-size: 14px
          div
            width: 100%
            display: flex
            justify-content: center
            gap: 5px
            button
              border: 1px solid $orange
              border-radius: 8px
              background: #fff
              color: $orange
              flex: 1
              &:nth-child(2)
                flex: 2
                font-size: 12px
                color: $white
                background: $orange
                span
                  font-size: 18px
                  font-weight: bold
              &:last-child
                font-size: 10px
                span
                  font-weight: bold
                  font-size: 12px
        .order__body__info__data-user
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          padding: 20px
          .number
            display: flex
            justify-content: center
            flex-direction: column
            width: 100%
            border-bottom: 2px solid #d3d3d8
            ::placeholder
              text-align: center
              font-size: 16px
            input
              display: block
              border: 1px solid #d3d3d8
              border-radius: 8px
              padding: 15px
              &::-webkit-outer-spin-button
              &::-webkit-inner-spin-button
                -webkit-appearance: none
                margin: 0
            span
              font-size: 11px
              text-align: left
              margin-top: 5px
              padding-bottom: 20px
              color: #b2b2b9
          .address
            display: flex
            flex-direction: column
            width: 100%
            ::placeholder
              text-align: left
              padding: 5px
              font-size: 12px
            h4
              margin: 0
              margin-top: 20px
              margin-bottom: 10px
              text-align: left
            input
              display: block
              border: 1px solid #d3d3d8
              border-radius: 4px
              width: 100%
              padding: 3px
              &::-webkit-outer-spin-button
              &::-webkit-inner-spin-button
                -webkit-appearance: none
                margin: 0